<div class="row col-md-12 rounded border mb-md-2">
    <div class="row col-md-12 mt-md-3 mb-md-3">
        <span class="font-weight-bold">Categories</span>
    </div>
    <ul class="nav flex-column">
        <li>
            <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li>
            <NavLink href="counter">Counter</NavLink>
        </li>
        <li>
            <NavLink href="fetchdata">Fetch data</NavLink>
        </li>
    </ul>
</div>

@code {

}
