@inherits LayoutComponentBase

<div class="main">
    <TopMenuBar />

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="content px-4">
                    @Body
                </div>
            </div>

            <div class="col-md-4 float-right">
                <div class="sidebar">
                    <RightPanel />
                </div>
            </div>
        </div>
    </div>
</div>
