@inherits LayoutComponentBase

<div class="main">
    <TopMenuBar />

    <div class="container">
        @Body

        <div class="program-footer">
            <div class="container">
                <span class="float-right">
                    <a href="#top"><span class="oi oi-arrow-circle-top" /></a>
                </span>
                Kelvin Hoover (C) 2020 : Opinions expressed here are my own.
            </div>
        </div>
    </div>
</div>


