@page "/"

@using nBlog.sdk.Model;

<div class="row">
    @foreach (var item in Articles)
    {
        <ArticleCard Manifest="@item" />
    }
</div>

@code {
    private IReadOnlyList<ArticleManifest> Articles { get; set; }

    protected override void OnInitialized()
    {
        Articles = new List<ArticleManifest>
{
            new ArticleManifest
            {
                ArticleId = "performance/switch",
                Title = "Performance of switch",
                Date = new DateTime(2019, 10, 1),
                Summary = "There are a lot of ways to make decisions based on state, C# new switch pattern matching is based on a functional technique can handle standard input and output processing.  But is it fast?",
                ImageName = "/Images/youll-build-a-fun-animal-matching-gameand-get-or.png"
            },
            new ArticleManifest
            {
                ArticleId = "performance/refactoring",
                Title = "Why refactoring is not the answer, or big refactoring should only happen in major releases.",
                Date = new DateTime(2020, 3, 5),
                Summary = "There is positive and negative aspecs of refactoring.  Normally refactoring is requiring when doing major releases given new capabilities.  Refactoring has a large testing cost and usually points to high coupled code.",
                ImageName = "/Images/ApplyAll-1024x581.png"
            },
        };

        base.OnInitialized();
    }
}